

<%= form_for @article, :url => articles_path do |f|%>
  <div class="class="form-group"">
	  <%= f.label :title, "Title"%></br>
	  <%= f.text_field :title%>
  </div>

  <div class="class="form-group"">
	  <%= f.label :content,"Content"%></br>
	  <%= f.text_area :content%>
  </div>
  <%= f.submit "送出", :class=>"btn btn-primary"%>
<%end%>

