<h1 class="title">射龍門</h1>

<%unless @box%>
  <div class="card_button">
	  <%= link_to "創建新牌組", prokers_path, :method => :post, :class=>"btn btn-primary" %>
  </div>
<%else%>
  <div class="card_button">
	  <%= link_to "重發一副牌", prokers_path, :method => :post, :class=>"btn btn-default" %> 
	  <%= link_to "抽兩張", set_scope_prokers_path, :class => "btn btn-primary"%>
  </div>
<%end%>

<%if current_user.first_number%>
  <h2>
    你身上的卡：<%= "#{current_user.first_number} 與 #{current_user.second_number}"%>
  </h2>
  <% a=@box.check_chance(current_user.first_number,current_user.second_number)%>
  <h2>
    最高中獎機率:<%= a%>
  </h2>
  <% if current_user.check_equal?%>
    <div class="shot">
	    <%= link_to "射大",shot_prokers_path(:chose=>"high"), :class => "btn btn-primary btn-lg"%>
	    <%= link_to "射小",shot_prokers_path(:chose=>"low"), :class => "btn btn-danger btn-lg" %>  
	  </div>  
  <%else%>
    <div class="shot">
      <%= link_to "射龍門",shot_prokers_path, :class => "btn btn-danger btn-lg" %>
    </div>
  <%end%>
<%end%>




<%if @box%>

<button type="button" class="btn btn-info seecard" data-toggle="modal" data-target=".bs-example-modal-lg">看看你的牌組(<%= @box.prokercards.size%>)</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <table class="table">
				<tr>
					<td>黑桃</td>
					<% for i in 1..13 do%>
					<td>
					  <% if @box.prokercards.where(:position=>i).first %>
					    <%#= @box.prokercards.where(:position=>i).first.name%>
					    <%= i%>
					  <%end%>
					</td>
					<%end%>
				</tr>

				<tr>
					<td>紅心</td>
					<% for i in 14..26 do%>
					<td>
					  <% if @box.prokercards.where(:position=>i).first %>
					    <%= (i-13)%>
					  <%end%>
					</td>
					<%end%>
				</tr>
				<tr>
					<td>磚塊</td>
					<% for i in 27..39 do%>
					<td>
					  <% if @box.prokercards.where(:position=>i).first %>
					    <%= (i-26)%>
					  <%end%>
					</td>
					<%end%>
				</tr>

				<tr>
					<td>梅花</td>
					<% for i in 40..52 do%>
					<td>
					  <% if @box.prokercards.where(:position=>i).first %>
					    <%= (i-39)%>
					  <%end%>
					</td>
					<%end%>
				</tr>
	    </table>
    </div>
  </div>
</div>
<%end%>	